.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.contenedor-header img{
    width: 50px;
}

.contenedor-header button{
    margin: 0;
}

.header-info{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-info h1{
    font-size: 1.5rem;
    color: var(--color-link-hover);
    font-family: MiFuente;
    font-variant: small-caps;
    letter-spacing: 2px;
    text-shadow: 0px 2px 2px rgb(20, 20, 20);
    user-select: none;
}