.contenedor-menu{
    display: flex;
    justify-content: center;
    gap: 40px;
}

a{
    color: var(--color-link);
    text-decoration: none;  
    font-weight: bold;
    font-size: larger;
}

a:hover{
    color: var(--color-link-hover);
}