.contenedor-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    
}

.contenedor-header h1 {
    margin-left: 10px;
    font-size: 2.5rem;
}

.contenedor-menu{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-right: 40px;
}

.contenedor-menu a{
    padding: 10px 20px;
    border: 1px solid var(--color-black);
    border-radius: 20px;
}

