.arrastrable{
    width: 250px;
}


.soltables{
    height: 470px;
    width: 780px;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.soltable{
    border: 1px solid rgb(58, 58, 58);
    width: 255px;
    height: 150px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}