.arrastrable{
    width: 250px;
}


.soltables{
    height: 470px;
    width: 780px;
    background-color: gray;
}

.soltables > img{
    margin: 5px;
}

.soltable{
    border: 1px solid rgb(58, 58, 58);
    width: 255px;
    height: 150px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.boton{
    width: 100px;
    height: 30px;
    background-color: rgb(207, 76, 76);
    align-content: center;
    text-align: center;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
    box-shadow: 2px 2px;
}

.boton:hover{
    background-color: rgb(234, 138, 138);
    border: 3px solid rgb(0, 188, 0);
    color: red;
    box-shadow: 5px 5px;
}

.boton:active{
    background-color: rgb(77, 139, 219);
    box-shadow: 10px 10px 10px;
}

.ganador{
    text-align: center;
    background-color: green;
    padding: 40px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}