.mensaje-flotante {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 18px;
}
/*Estas clases se añadirán en el className del componente , dependiendo del estado que sea el mensaje.*/ 
.disco-guardado{
    background-color: rgba(0, 193, 0, 0.623);
    border: 2px solid rgba(0, 225, 0, 0.839);
    border-radius: 20px;
}

.disco-no-guardado{
    background-color: rgba(193, 10, 0, 0.623);
    border: 2px solid rgba(255, 0, 0, 0.839);
    border-radius: 20px;
}