:root{
    --color-principal: rgb(183, 216, 205);
    --color-principal-oscuro: rgba(183, 216, 205, 0.61);
    --color-secundario: rgb(84, 84, 84);
    --color-complementario: rgb(213, 228, 14);
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}

#root {
  background-color: rgb(52, 52, 52);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}


p{
  font-size: small;
}

.contenedor-contenido-nav{
  display: flex;
}