/* --- CONTENEDOR GENERAL --- */
*{
    margin: 0;
    font-family: sans-serif;
}
body {
    background: #fff;
}

.container {
    box-sizing: border-box;
}

/* Contenedor principal simulado */
body {
    display: flex;
    justify-content: center;
}


/* --- MAQUETACIÓN PRINCIPAL --- */
#titulo-peliculas {
    min-width: 200px;
    width: 250px;               
    min-height: 100vh;
    border-right: 3px dotted black;
    padding: 10px;
}

#detalle-peliculas {
    flex-grow: 1;           
    min-height: 500px;     
    margin-left: 10px;
    padding: 20px;
}

.titulo-pelicula {
    padding: 10px;
    border-bottom: 1px solid green;
}

.titulo-pelicula:hover{
    background-color: rgba(35, 195, 35, 0.679);
}

.titulo-pelicula:active{
    background-color: rgba(23, 124, 23, 0.736);
}

.pelicula{
    min-height: 500px;
}

.pelicula > h1{
    margin-bottom: 10px;
}
.sinopsis > h4{
    margin-bottom: 5px;
}
.sinopsis > p {
    max-width: 900px;
}
.pelicula > .sinopsis{
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.28);
    border-radius: 20px;
}

.cargando{
    width: 60px;
}