.container-lista{
    width: 100%;
    height: fit-content;
    border: 1px rgba(255, 255, 255, 0.514) solid;
    border-radius: 10px;
    background-image: linear-gradient(135deg, 
        var(--color-link-hover) 0% 18%,
        transparent 38% 100%
    );
    transition: transform 0.45s ease;
}

.container-lista:hover{
    transform:translateX(8px);
}

.animacion-clic{
    animation: reboteClic 1s ease;
}



@keyframes reboteClic {
    from {
        transform: translateX(8px);
    } 

    50% {
        transform: translateX(30px);
    }

    to {
        transform: translateX(8px);
    }
}


.container-lista .lista-nombre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.container-lista .lista-nombre p{
    margin: 5px 0 2px 20px;
}

.container-lista .lista-nombre img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}