
.producto-card {
    background-color: hsla(250, 4%, 32%, 0.445);
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.producto-card:hover {
    transform: translateY(-5px);
}

.producto-card img {
    width: 100%;
    height: 150px;
    object-fit: cover; /* Esto hace que la imagen se corte pero no se deforme */
    border-radius: 8px;
    margin-bottom: 10px;
}

small{
    font-size: 0.67em;
    color: var(--color-link);
}