*{
    margin: 0;
    padding: 0;
}

h2{
    padding-bottom: 15px;
    text-align: center;
    font-size: xx-large;
    color: var(--color-complementario);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.pelicula-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pelicula-info{
    max-width: 500px;
    padding: 1px 20px;
}

.pelicula-info h4{
    margin-bottom: 30px;
    color: var(--color-secundario);
}

.pelicula-container img{
    width: 200px;
    border-radius: 10px;
}


