*{
    margin: 0;
    padding: 0;
}
.pelicula-container{
    display: flex;
    align-items: center;
}
.pelicula-container img{
    width: 200px;
    border-radius: 10px;
}
.pelicula-caracteristicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* o un valor fijo como 300px para probar */
}
.pelicula-caracteristicas p{
    padding-bottom: 15px;
}
