.listado-productos-container {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: auto;
    min-width: 1000px;
}

/* Contenedor principal */
.listado-container {
    padding: 20px;
    padding-bottom: 100px;  /*Espacio para que el resumen no tape productos */;
}

/* La cuadrícula de productos */
.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
    max-width: 1200px;
    justify-self: center;
}

/* El div de información de abajo */
.resumen-fijo {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #2c2c2c;
    color: white;
    display: flex;
    gap: 40px;
    padding: 15px 40px;
    border-radius: 50px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: 1px solid var(--color-link); /* Verde Supabase */
    z-index: 100;
}

.resumen-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.resumen-item span {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #888;
}

.resumen-item strong {
    font-size: 1.2rem;
    color: var(--color-link);
}

/* Formulario de filtrado */
.formulario-filtrado {
    margin-bottom: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.formulario-filtrado button{
    margin: 0;
}

.controles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}