/* =============================================
   APP.CSS
   ============================================= */

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.rutas-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 2500px;
  align-self: center;
}