:root {
  --color-blanco-principal: rgba(255, 255, 255, 0.87);
  --color-negro-principal: #242424;
  --color-negro-logo: #6b6772;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --max-width: 1200px; /* Ancho máximo opcional para que no se vea "estirado" en pantallas gigantes */
}

@font-face {
  font-family: MiFuente;
  src: url(./assets/ClimateCrisis-Regular-VariableFont_YEAR.ttf) format('woff2');
}

/* Reseteo y Altura completa */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-negro-principal);
  color: var(--color-blanco-principal);
  font-family: system-ui, Arial, sans-serif;
  text-align: center;
}

/* El elemento #root de React debe ser el contenedor flex */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa al menos toda la pantalla */
  width: 100%;
}

button{
  border-radius: 8px;
}